body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.box-shadow {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 10px 10px 5px #888888;
}

.gutter {
  width: 10px;
}

/* Registration Page*/

.profile-address-region {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.commands-region {
  margin-bottom: 20px;
}

legend.registration-page {
  border-bottom: none;
}

.form-horizontal * {
  display: inline-block;
  box-sizing: border-box;
}

.form-horizontal .form-group{
  width: 100%;
}

.form-horizontal .form-row {
  margin-bottom: 15px;
}

.form-horizontal .registration-page-addressline {
  width: 600px;
}

.form-horizontal .registration-page-city {
  width: 295px;
}

.form-horizontal .registration-page-state {
  width: 160px;
}

.form-horizontal .registration-page-zip {
  width: 125px;
}

.form-horizontal .registration-page-phone {
  width: 160px;
}

.form-horizontal .registration-page-phone-type {
  width: 125px;
}

.form-horizontal input[type="text"] {
  height: 30px;
}
