body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.box-shadow {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 10px 10px 5px #888888;
}

.gutter {
  width: 10px;
}

/* Registration Page*/

.profile-address-region {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.commands-region {
  margin-bottom: 20px;
}

legend.registration-page {
  border-bottom: none;
}

.form-horizontal * {
  box-sizing: border-box;
}

.form-horizontal div {
  display: inline-block;
}

.form-horizontal .form-row {
  width: 100%;
}

.form-horizontal .form-control {
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-horizontal .control-label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-horizontal .form-group {
  vertical-align: top;
}

.form-horizontal .registration-page-addressline {
  width: 600px;
}

.form-horizontal .registration-page-city {
  width: 295px;
}

.form-horizontal .registration-page-state {
  width: 160px;
}

.form-horizontal .registration-page-zip {
  width: 125px;
}

.form-horizontal .registration-page-phone {
  width: 160px;
}

.form-horizontal .registration-page-phone-type {
  width: 125px;
}

.form-horizontal .registration-page-email {
  width: 160px;
}

.form-horizontal .registration-page-contact-method {
  width: 125px;
}

.form-horizontal input[type="text"] {
  height: 30px;
}

.form-horizontal .control-label {
  padding-right: 10px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block {
  margin-top: 0px;
  margin-bottom: 10px;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.has-error .form-control-feedback {
  color: #a94442;
}

.backgrid input[type="text"] {
  width: 150px;
}

.backgrid th {
  width: 150px;
}
