<div class="container sign-up-series">
  <div class="hero-unit">
    <h1>Add Spouse</h1>
    <p></p>
    <p><span class="required-asterisk">*</span><span> Indicates required fields</span></p>
    <br/>
  
  	<form class="form-horizontal" role="form">
  		<div class="form-column grid-1of2">
			<div class="form-row form-group">
				<label for="emailAddress"><span class="required-asterisk">*</span> Email Address</label>
				<div class="grid-1of1">
					<input id="emailAddress" class="form-control required-bg-fill grid-full" placeholder="Type your email address" name="emailAddress" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="firstName"><span class="required-asterisk">*</span> First Name</label>
				<div class="grid-1of1">
					<input id="firstName" class="form-control required-bg-fill grid-full" placeholder="Type your first name" name="firstName" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="middleName">Middle Name</label>
				<div class="grid-1of1">
					<input id="middleName" class="form-control grid-full" placeholder="Type your middle name" name="middleName" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="lastName"><span class="required-asterisk">*</span> Last Name</label>
				<div class="grid-1of1">
					<input id="lastName" class="form-control required-bg-fill grid-full" placeholder="Type your last name" name="lastName" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
  		</div>
  		<div class="form-column grid-1of2">
			<div class="form-row form-group">
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="birthDate">Birth Date</label>
						<div class="grid-full">
							<input id="birthDate" class="form-control grid-full" placeholder="Type your birth date" name="birthDate" type="text" value="">
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
				<div class="gutter"></div>
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="gender"><span class="required-asterisk">*</span> Gender</label>
						<div class="grid-full">
							<select class="form-control required-bg-fill grid-full" id="gender" name="gender">
								<option value="">Select One</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
			</div>
			<div class="form-row form-group">
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="primaryPhone"><span class="required-asterisk">*</span> Primary Phone</label>
						<div class="grid-full">
							<input id="primaryPhone" class="form-control required-bg-fill grid-full" placeholder="Type your primary phone" name="primaryPhone" type="text" value="">
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
				<div class="gutter"></div>
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="primaryPhoneType"><span class="required-asterisk">*</span> Type</label>
						<div class="grid-full">
							<select class="form-control required-bg-fill grid-full" id="primaryPhoneType" name="primaryPhoneType">
								<option value="">Select One</option>
								<option value="home_phone">Home Phone</option>
								<option value="mobile_phone">Mobile Phone</option>
								<option value="mobile_text">Mobile Phone with Text</option>
							</select>
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
			</div>
			<div class="form-row form-group">
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="secondaryPhone">Secondary Phone</label>
						<div class="grid-full">
							<input id="secondaryPhone" class="form-control grid-full" placeholder="Type your secondary phone" name="secondaryPhone" type="text" value="">
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
				<div class="gutter"></div>
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="secondaryPhoneType">Type</label>
						<div class="grid-full">
							<select class="form-control grid-full" id="secondaryPhoneType" name="secondaryPhoneType">
								<option value="">Select One</option>
								<option value="home_phone">Home Phone</option>
								<option value="mobile_phone">Mobile Phone</option>
								<option value="mobile_text">Mobile Phone with Text</option>
							</select>
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
			</div>
			<div class="form-row form-group">
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="preferredContactMethod"><span class="required-asterisk">*</span> Preferred Contact Method</label>
						<div class="grid-full">
							<select class="form-control required-bg-fill grid-full" id="preferredContactMethod" name="preferredContactMethod">
								<option value="">Select One</option>
								<option value="contact_phone">Phone</option>
								<option value="contact_email">Email</option>
								<option value="contact_text">Text</option>
							</select>
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
			</div>
  		</div>
  		<div class="form-row form-group form-center">
			<a href="#" class="btn btn-primary js-registration-complete">Add Spouse</a>
		</div>
  	</form>
  </div>
</div>
