<div class="container sign-up-series">
  <div class="hero-unit">
    <h1>Add Student</h1>
    <p></p>
    <p><span class="required-asterisk">*</span><span> Indicates required fields</span></p>
    <br/>
  
  	<form class="form-horizontal" role="form">
  		<div class="form-column grid-1of2">
			<div class="form-row form-group">
				<label for="firstName"><span class="required-asterisk">*</span> First Name</label>
				<div class="grid-1of1">
					<input id="firstName" class="form-control required-bg-fill grid-full" placeholder="Type your first name" name="firstName" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="middleName">Middle Name</label>
				<div class="grid-1of1">
					<input id="middleName" class="form-control grid-full" placeholder="Type your middle name" name="middleName" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="lastName"><span class="required-asterisk">*</span> Last Name</label>
				<div class="grid-1of1">
					<input id="lastName" class="form-control required-bg-fill grid-full" placeholder="Type your last name" name="lastName" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
  		</div>
  		<div class="form-column grid-1of2">
			<div class="form-row form-group">
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="birthDate">Birth Date</label>
						<div class="grid-full">
							<input id="birthDate" class="form-control grid-full" placeholder="Type your birth date" name="birthDate" type="text" value="">
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
				<div class="gutter"></div>
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="gender"><span class="required-asterisk">*</span> Gender</label>
						<div class="grid-full">
							<select class="form-control required-bg-fill grid-full" id="gender" name="gender">
								<option value="">Select One</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
			</div>
			<div class="form-row form-group">
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="class"><span class="required-asterisk">*</span> Class</label>
						<div class="grid-full">
							<select class="form-control required-bg-fill grid-full" id="class" name="class">
								<option value="">Select One</option>
								<option value="kindergarten">Kindergarten</option>
								<option value="1a">1A</option>
								<option value="1b">1B</option>
								<option value="1c">1C</option>
								<option value="2a">2A</option>
							</select>
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
				<div class="gutter"></div>
	  			<div class="grid-1of2">
					<div class="form-row form-group">
						<label for="year"><span class="required-asterisk">*</span> Year</label>
						<div class="grid-full">
							<input id="year" class="form-control required-bg-fill grid-full" placeholder="Year" name="year" type="text" value="2015">
							<span class="help-block grid-full hidden">
						</div>
					</div>
				</div>
			</div>
  		</div>
  		<div class="form-row form-group" style="text-align:center;">
			<a href="#" class="btn btn-primary js-registration-complete">Add Student</a>
		</div>
  	</form>
  </div>
</div>
