<div class="container sign-up-series">
  <div class="hero-unit">
    <h1>Tuition</h1>
    <p></p>
    <p><span class="required-asterisk">*</span><span> Indicates required fields</span></p>
    <br/>
  
  	<form class="form-horizontal" role="form">
  		<div class="form-column grid-1of2">
			<div class="form-row form-group">
				<label for="tuition"><span class="required-asterisk">*</span> Tuition</label>
				<div class="grid-1of1">
					<input id="tuition" class="form-control required-bg-fill grid-full" placeholder="Tuition" name="tuition" type="text" value="140.00">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="reducedTuition"><span class="required-asterisk">*</span> Reduced Tuition</label>
				<div class="grid-1of1">
					<input id="reducedTuition" class="form-control required-bg-fill grid-full" placeholder="Reduced Tuition" name="reducedTuition" type="text" value="100.00">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="payment"><span class="required-asterisk">*</span> Payment</label>
				<div class="grid-1of1">
					<input id="payment" class="form-control required-bg-fill grid-full" placeholder="Type payment" name="payment" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="donation">Donation</label>
				<div class="grid-1of1">
					<input id="donation" class="form-control grid-full" placeholder="Type donation" name="donation" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="suggestedClass"><span class="required-asterisk">*</span> Suggested Class</label>
				<div class="grid-1of1">
					<select class="form-control required-bg-fill grid-full" id="suggestedClass" name="suggestedClass">
						<option value="">Select One</option>
						<option value="kindergarten">Kindergarten</option>
						<option value="1a">1A</option>
						<option value="1b">1B</option>
						<option value="1c">1C</option>
						<option value="2a">2A</option>
					</select>
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="startDate">Start Date</label>
				<div class="grid-1of1">
					<input id="startDate" class="form-control grid-full" placeholder="Type the start date" name="startDate" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
			<div class="form-row form-group">
				<label for="notes">Notes</label>
				<div class="grid-1of1">
					<input id="notes" class="form-control grid-full" placeholder="Type notes" name="notes" type="text" value="">
					<span class="help-block grid-full hidden">
				</div>
			</div>
	  		<div class="form-row form-group" style="text-align:center;">
				<a href="#" class="btn btn-primary js-registration-complete">Save Tuition</a>
			</div>
  		</div>
  	</form>
  </div>
</div>
