<div>
	<div class="row">
		<div class="span8 offset1">
			<form class="form-search">
				<legend>Search Participants</legend>
			  <input type="text" id="firstName-input" class="input-medium search-query" placeholder="first name">
			  <input type="text" id="lastName-input" class="input-medium search-query" placeholder="last name">
			  <a class="btn search-btn">Search</a>
			</form>
			<hr/>
			<section id="results">
				<p>Enter search criteria above.  You can enter full names or partial names.  Only one field is required but you can use both if you'd like.</p>
			</section>
		</div>
	</div>
</div>