
<legend>Contact Preference</legend>
<form class="form-horizontal" role="form">
	<div class="form-group form-group-lg">
		<div class="col-sm-8">
			<input class="form-control" id="houseHold" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="House Hold" name="houseHold" type="text" value="<%= houseHold %>">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<div class="col-sm-8">
			<input class="form-control" id="line1" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="Address Line 1" name="line1" type="text" value="<%= line1 %>">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<div class="col-sm-8">
			<input class="form-control" id="line2" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="Address Line 2" name="line2" type="text" value="<%= line2 %>">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<div class="col-sm-3">
			<input class="form-control" id="city" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="City" name="city" type="text" value="<%= city %>">
		</div>
		<div class="col-sm-2">
			<input class="form-control" id="state" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="State" name="state" type="text" value="<%= state %>">
		</div>
		<div class="col-sm-3">
			<input class="form-control" id="zipcode" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="Postal Code" name="zipcode" type="text" value="<%= zipcode %>">
		</div>
	</div>
	<div class="form-group form-group-lg">
		<div class="col-sm-4">
			<input class="form-control" id="primaryPhoneNbr" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="Primary Phone Number" name="primaryPhoneNbr" type="text" value="<%= primaryPhoneNbr %>">
		</div>
		<div class="col-sm-4">
			<input class="form-control" id="secondaryPhoneNbr" class="form-control input-sm" style="margin-bottom: 15px;" placeholder="Secondary Phone Number" name="secondaryPhoneNbr" type="text" value="<%= secondaryPhoneNbr %>">
		</div>		
	</div>
</form>
